:root {
  --color-blossom: #1d7484;
  --color-darkblossom: #106474;
  --color-fade: #982c61;
  --color-bg: #f9f9f9;
  --color-bg-alt: #e9e9e9;
  --color-text: #222222;
  --max-width: 50em; 
  --xvfblue: #36a9e1;
}

header nav ul:first-child > li:first-child a {
  font-weight: normal ;
}
header nav ul > li.thispage a {
  font-weight: bold !important;
}
header nav img.logo {
  /*max-height: 2em;*/
  max-width: 3em;
  width: 3em;
  margin-bottom: 0;
  transition: * 5s ease-in-out;
  transition: filter 5s ease-in-out;
}
header nav ul li a:hover:has(img) {
  border-bottom: none;
}
header nav img.logo:hover {

  filter: 

    saturate(1.2)
    contrast(1.1) 
    brightness(1.1) 

    drop-shadow(5px 5px 1px black) 
    drop-shadow(-5px 5px 4px grey) 
    ;



}


